<!-- Code from https://alligator.io/vuejs/vue-autocomplete-component/ -->

<template>
  <div class='autocomplete'>
    <label>
      <input
        id='searchField'
        class='form-control mr-sm-2'
        type='text'
        @input='onChange'
        v-model='search'
        placeholder='Search'
        @keydown.down='onArrowDown'
        @keydown.up='onArrowUp'
        @keydown.enter.prevent='onEnter'
        @submit.prevent='onEnter'
        :disabled='!displaySearch'
      >
    </label>
    <div>
      <ul
        id='autocomplete-results'
        v-show='isOpen'
        class='autocomplete-results list-group  position-absolute tofront'>
        <li
          v-for='(result, i) in results.slice(0,10)'
          :key='i'
          :id='"result-"+i'
          @click='setResult(result)'
          @mouseover='selected = i'
          @moseleave='selected = -1'
          class='autocomplete-result list-group-item'
          :class='{ "active": i === selected || selected === i}'>
          {{ result.name }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  import {post} from '../rest.js'
  let timeout = null;

  export default {
    name: 'autocomplete',
    props: {
      items: {
        type: Array,
        required: false,
        default: () => [],
      },
      displaySearch: Boolean
    },
    data() {
      return {
        isOpen: false,
        results: [],
        search: '',
        searchObject: {},
        isLoading: false,
        selected: -1
      };
    },
    methods: {
      querySearch (){
        console.log('Submitting search for ', this.search);
        post('search', {query: this.search})
          .then(response => {
              this.results = response.results;
            }
          )
      },
      onChange() {
        window.clearTimeout(timeout);
        timeout = window.setTimeout(()=>{
          if (this.search !== '') {
            this.querySearch();
            this.isOpen = true;
          }
          else {
            this.isOpen = false;
          }
        }, 500);
      },
      setResult(result) {
        window.clearTimeout(timeout);
        this.searchObject = result;
        this.search = this.searchObject.name;
        this.isOpen = false;
        this.reportResult();
      },
      onArrowDown(evt) {
        if (this.selected < this.results.length) {
          this.selected = this.selected + 1;
        }
      },
      onArrowUp() {
        if (this.selected > 0) {
          this.selected = this.selected -1;
        }
      },
      onEnter() {
        window.clearTimeout(timeout);
        this.isOpen = false;
        if (this.selected === -1) {
          this.querySearch();
          this.reportMultipleResults();
        }
        else {
          this.searchObject = this.results[this.selected];
          this.search = this.searchObject.name;
          this.selected = -1;
          this.reportResult();
        }
      },
      handleClickOutside(evt) {
        if (!this.$el.contains(evt.target)) {
          this.isOpen = false;
          this.selected = -1;
          this.selected = -1
        }
      },
      reportResult(){
        this.$emit('search-submitted', [this.searchObject]);
      },
      reportMultipleResults(){
        this.$emit('search-submitted', this.results);
      }
    },
    watch: {
      items: function (val, oldValue) {
        // actually compare them
        if (val.length !== oldValue.length) {
          this.results = val;
          this.isLoading = false;
        }
      },
    },
    mounted() {
      document.addEventListener('click', this.handleClickOutside)
    },
    destroyed() {
      document.removeEventListener('click', this.handleClickOutside)
    }
  };
</script>

<style scoped>
  .tofront {
    z-index: 999;
  }
</style>
