<template>
  <tr @click='$emit("click")'>
    <td >
      {{ id }}
    </td>
    <td >
      {{ name }}
    </td>
    <td >
      {{ age }}
    </td>
    <td >
      {{ address }}
    </td>
    <td >
      {{ team }}
    </td>
  </tr>
</template>

<script>
  export default {
    name: 'CustomRow',
    props: {
      id: String,
      name: String,
      age: String,
      address: String,
      team: String
    }
  };
</script>
