<template>
  <nav class='navbar navbar-expand-md navbar-dark bg-dark mb-4 justify-content-end'>
    <a class='navbar-brand' href='#'>CSV importer</a>
    <form class='form-inline justify-content-center my-2 ml-auto'>
      <autocomplete-component v-bind='{items: searchData, displaySearch}' @search-submitted='relayResult' />
    </form>
  </nav>
</template>

<script>
  import AutocompleteComponent from './AutocompleteComponent';

  export default {
    name: 'NavbarComponent',
    components: {
      AutocompleteComponent
    },
    props: {
      searchData: Array,
      displaySearch: Boolean
    },
    methods: {
      relayResult(searchResult){
        this.$emit('search-relay', searchResult);
      }
    }
  };
</script>
