<template>
  <div class='col-xs-6 justify-content-center'>
    <div style='text-align: center;'>
      <!--<div v-if='progress === -1'>-->
      <div>
        <h2>Choose a CSV file to import:</h2>
        <div>
          <b-form-file id='uploadField' class=' w-50 my-2 ' v-model='file' :state='Boolean(file)' placeholder='Choose a file...' accept='.csv'></b-form-file>
        </div>
        <div id='uploadButton' class='btn btn-success my-2' v-bind='file' v-on:click='importFile(file)'>Import!</div>
      </div>
      <!-- Wanted to use progress bar, but too slow to show.
           When the logic was moved to server, did not find a way to track progress
      <div v-else>
        <h5>Progress:</h5>
        <h2>{{progress + ' / ' + max}}</h2>
      </div>
      <b-progress :value='progress' :max='max' class='mb-3'></b-progress>-->
    </div>
  </div>
</template>

<script>
  import {postFile} from '../rest.js'
  let timeout = null;
  export default {
    name: 'UploadComponent',
    data() {
      return {
        file: null,
        //progress: -1,
        //max: -1,
      }
    },
    methods: {
      importFile(file){
        if (file !== null) {
          const formData = new FormData();
          formData.append('uploadCsv',file);
          postFile('import', formData)
            .then(response => {
              this.$emit('fileuploaded', true)
            })
        }
        else {
          console.log('No file provided.')
        }

      }
    }
  }
</script>
