<template>
  <div id='app'>
    <navbar-component v-bind='{searchData: table, displaySearch: isUploaded}' @search-relay='updateDisplayedData' />
    <div class='container'>
      <div class='card'>
        <div v-if='!isUploaded' >
          <upload-component @fileuploaded='uploadCompleted'/>
        </div>
        <div v-else>
          <div class='scroll-wrapper'>
            <div class='d-flex justify-content-between'>
              <h3 class='my-2 mx-2'>Employees</h3>
              <div id='uploadButton' class='btn btn-success my-2 mx-2' v-on:click='isUploaded = false'>Import new file</div>
            </div>
            <table class='table items' style='text-align: left'>
              <tr>
                <th>{{headers.id}}</th>
                <th>{{headers.name}}</th>
                <th>{{headers.age}}</th>
                <th>{{headers.address}}</th>
                <th>{{headers.team}}</th>
              </tr>
              <custom-row v-for='(employee, index) in displayedData'
                          :key='index'
                          v-bind='{
                          id: employee.id,
                          name: employee.name,
                          age: employee.age,
                          address: employee.address,
                          team: employee.team}'
              />
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import NavbarComponent from './components/NavbarComponent';
  import UploadComponent from './components/UploadComponent';
  import CustomRow from './components/CustomRow';
  import {get} from './rest.js'

  export default {
    name: 'App',
    components: {
      NavbarComponent,
      UploadComponent,
      CustomRow
    },
    data () {
      return {
        isUploaded: false,
        table: [],
        displayedData: [],
        headers:  {
          id: 'ID',
          name: 'Name',
          age: 'Age',
          address: 'Address',
          team: 'Team'
        },
      }
    },
    methods: {
      uploadCompleted() {
        this.isUploaded = true;
        console.log('Upload completed!')
      },
      updateDisplayedData(relayedResult){
        this.displayedData = relayedResult
      },
      checkFileAlreadyImported(){
        get('fileImported').then(result => {
          console.log('Server has file:',result);
          this.isUploaded = result;
        })
      }
    },
    created: function() {
      this.checkFileAlreadyImported()
    }
  };
</script>
